@media only screen and (max-width: 769px) {
  nav #navbartop #navbartop-container {
    width: 80%;
  }
  nav #navbartop #navbartop-container ul li a {
    color: var(--white);
  }
  h1 {
    font-size: 1.5rem;
  }
  .halfhalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .halfhalf .text {
    margin-top: 5%;
  }
  .fullcontainer {
    width: 100vw;
  }
  .fullcontainer main div {
    width: auto;
    margin-left: 35vw;
    padding-right: 5%;
  }
  .fullcontainer main p {
    color: var(--white);
    background-color: var(--bg);
    padding: 4%;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  #shop-content {
    margin-left: 0;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: auto;
  }
  #form {
    background-color: var(--bg);
    padding: 5%;
  }
  .articlepic {
    display: none;
  }
  .articletext {
    width: 100%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 769px) and (max-width: 769px) {
  nav #navbartop #navbartop-container {
    width: 80%;
  }
  nav #navbartop #navbartop-container ul li a {
    color: var(--white);
  }
  h1 {
    font-size: 1.5rem;
  }
  .halfhalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .halfhalf .text {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 769px) {
  .fullcontainer {
    width: 100vw;
  }
  .fullcontainer main div {
    width: auto;
    margin-left: 35vw;
    padding-right: 5%;
  }
  .fullcontainer main p {
    color: var(--white);
    background-color: var(--bg);
    padding: 4%;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  #shop-content {
    margin-left: 0;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: auto;
  }
  #form {
    background-color: var(--bg);
    padding: 5%;
  }
  .articlepic {
    display: none;
  }
  .articletext {
    width: 100%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 769px) and (max-width: 425px) {
  nav #navbartop #navbartop-container {
    width: 100%;
  }
  nav #navbartop #navbartop-container ul li a {
    font-size: 0.5rem;
  }
  nav #navbarmain {
    background-color: var(--bg);
    padding: 5%;
    min-height: 60vh;
    margin-top: 25%;
    -webkit-box-shadow: #000 5px 5px 10px 2px;
            box-shadow: #000 5px 5px 10px 2px;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  nav #navbarmain .divider {
    padding: 20% 0;
  }
  nav #navbarmain ul .licontainer li {
    margin-left: 10%;
  }
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .no-bg {
    background: none !important;
  }
  .halfhalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .halfhalf .text {
    margin-top: 5%;
    width: 100%;
  }
  .intro {
    text-align: center;
  }
  .intro span {
    font-size: 0.6rem;
  }
  .intro ul {
    font-size: 0.6rem;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .articletext span {
    font-size: 0.8rem;
    text-align: center;
  }
  #shop-content {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #shop-content img {
    width: 80%;
  }
}

@media only screen and (max-width: 769px) and (max-width: 375px) {
  #shop-content img {
    width: 70%;
  }
}

@media only screen and (max-width: 769px) and (max-width: 320px) {
  h1 {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
  }
}

@media only screen and (max-width: 425px) {
  nav #navbartop #navbartop-container {
    width: 100%;
  }
  nav #navbartop #navbartop-container ul li a {
    font-size: 0.5rem;
  }
  nav #navbarmain {
    background-color: var(--bg);
    padding: 5%;
    min-height: 60vh;
    margin-top: 25%;
    -webkit-box-shadow: #000 5px 5px 10px 2px;
            box-shadow: #000 5px 5px 10px 2px;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  nav #navbarmain .divider {
    padding: 20% 0;
  }
  nav #navbarmain ul .licontainer li {
    margin-left: 10%;
  }
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  .no-bg {
    background: none !important;
  }
  .halfhalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .halfhalf .text {
    margin-top: 5%;
    width: 100%;
  }
  .intro {
    text-align: center;
  }
  .intro span {
    font-size: 0.6rem;
  }
  .intro ul {
    font-size: 0.6rem;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .articletext span {
    font-size: 0.8rem;
    text-align: center;
  }
  #shop-content {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #shop-content img {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  #shop-content img {
    width: 70%;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
  }
}
/*# sourceMappingURL=tablet.css.map */